$sign-in: #5aadb2;
$header-wrapper: #d6f1f0;
$button-1: #78cbd0;
$button-2: #8db639;
$button-3: #6f308c;
$button-4: #e9168c;
$top-bar: #f4cbd3;
$top-bar-text: #6e1849;
$top-bar-input-border: #e39fab;
$top-bar-input-text: #f7d7dd;
$footer-text: #b6e4e5;
$main-text: #317900;
$refine-search: #E1FFCF;
$body-wrapper: #58D0D4;
$green-box: #E1FFCF;
$search-button: #7BC123;
$content-body: #4faeb5;


